.MainMobileContent{
  margin: 0 auto;
  width: 500px;
  &-title{
    color: #000;
    font-size: 32px;
    font-weight: 700;
    margin-top: 50px;
  }
  &__info{
    &-block{
      img{
        margin-top: 50px;
      }
      &-title{
        color: #000;
        font-size: 30px;
        font-weight: 700;
      }
      &-text{
        color: #7B7A83;
      }
    }
  }
}