// color palette
$c_primary: #49A2F4;
$c_marsh: #F4FAFB;
$c_pillow: #DFEDFE;
$c_sky: #B6D9FA;
$c_deep: #1D3557;
$c_white: #FFFFFF;
$c_rainy: #EFF5FE;
$c_cloudy: #F6А9FE;
$c_green: #2FDDA9;
// properties
$shadow: 1px 5px 10px rgba(0, 0, 0, 0.59);
$transition: 0.1s linear;

//font settings
$fz_primary: 32px;
$fz_title: 48px;

$fw_bold: 800;