@import '../variables';
.HeaderDesktop{
  padding-top: 15px;
  font-size: 25px;
  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &>*{
      font-size: 25px !important;
    }
    &-item:first-child{
      display: flex;
      align-items: center;
      gap: 5px;
      img{
        width: 50px;
      }
    }
    &-item.active{
      color: $c_primary;
    }
  }
  &__options{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  }
}
.rainy{
  background-color: $c_rainy;
}
.marsh{
  background-color: $c_marsh;
}